{% extends "base.html" %}

{% block title %}Ajouter un domaine{% endblock %}

{% block content %}
<div class="card shadow-lg p-4 mb-4 w-100">
    <h1 class="card-title">Ajouter un domaine</h1>
    <form id="domainForm">
        <div class="form-group">
            <label for="domain">Nom de domaine</label>
            <input type="text" class="form-control" id="domain" name="domain" required>
        </div>
        <button type="submit" class="btn btn-primary" id="submitButton">Ajouter</button>
    </form>
</div>
<div id="messages"></div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    var socket = io.connect('https://' + document.domain + ':' + location.port);
    socket.on('message', function(msg) {
        var messages = document.getElementById('messages');
        var message = document.createElement('div');
        message.className = 'alert alert-info mt-4';
        message.innerText = msg;
        messages.insertBefore(message, messages.firstChild);
    });

    document.getElementById('domainForm').addEventListener('submit', function(event) {
        event.preventDefault();
        var formData = new FormData(this);
        var submitButton = document.getElementById('submitButton');
        submitButton.disabled = true;
        $.ajax({
            type: 'POST',
            url: '{{ url_for("add_domain") }}',
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                submitButton.disabled = false;
                document.getElementById('domain').value = '';
            },
            error: function(error) {
                submitButton.disabled = false;
            }
        });
    });

    document.getElementById('submitButton').addEventListener('click', function() {
        var messages = document.getElementById('messages');
        messages.innerHTML = '';
    });
</script>
{% endblock %}
